body,input,select,button {
	margin: 0;
	padding: 0;
	font-family: Lato, Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
}

body {
	height: 100vh;
}

div,section,article {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

#SiteTitle {
	font-weight: 200;
	height: 10vh;
	line-height: 10vh;
	margin: 0;
	padding: 0 1em;
	box-sizing: border-box;
}

#StatusMessage,#Confirmation {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 4rem;
    overflow: auto;
	margin: 0;
	padding: 1rem 10%;
}

#StatusMessage {
	background-color: rgba(0, 255, 20, .8);
	border-bottom: .25em solid rgb(0,140,10);
}

#StatusMessage.error {
	background-color: rgba(255, 0, 0, .8);
	border-bottom-color: rgb(150,0,0);
}

#Confirmation {
	background-color: rgba(255, 50, 5, .8);
	border-bottom-color: rgb(130,20,0);
}

#Confirmation .confirmButton:hover {
	background-color: #cfc;
	border-color: #0c0;
}

#Confirmation .cancelButton:hover {
	background-color: #fcc;
	border-color: #c00;
}

#User {
	padding: 1em;
}

#NoteManager {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	margin: 0 1vw;
	width: calc(100% - 2vw);
	height: 80vh;

	border: .16em solid #999;
	border-radius: 1em;
	background-color: #eee;
}

#NoteListPane {
	flex: 1 1 20em;
	margin: 0 .5em;
	overflow-y: auto;
	position: relative;
}

#NoteList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

#NoteListPane h2 {
	position: relative;
}

#NewNoteButton {
	position: absolute;
	right: 0;
}

#NoteList li {
	border-bottom: .08em solid #000;
	padding: 1em;
}

#NoteList li.selected {
	background-color: #ffc;
}

#NoteList li:hover {
	background-color: #fff;
}

#NoteList li .noteModified {
	font-size: 80%;
	color: #333;
	display: block;
}

#NotePane {
	flex: 2 1 50em;
	padding-bottom: 1em;
	border-left: .16em solid #999;
	border-radius: 1em;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

#NoteTitleHeading {
	font-weight: 300;
	flex: 0 0 1em;
}

#NoteTitle {
	display: inline-block;
	min-width: 10em;
	max-width: calc(98vw - 1em);
	min-height: 1em;
	padding: .1em;
}

#NoteBody {
	overflow: auto;
	min-height: 5em;
	max-width: 98vw;
	flex: 1 1 5em;
	padding: .2em;
}

#NoteBody.md-mode {
	font-family: 'Source Code Pro', 'Lucida Console', 'Courier New', Courier, Monaco, monospace;
}

#NoteBody.html-mode {
	font-family: Lato, Arial, Helvetica, sans-serif;
}

#NoteBody.html-mode h1,#NoteBody.html-mode h2,#NoteBody.html-mode h3,#NoteBody.html-mode h4,#NoteBody.html-mode h5,#NoteBody.html-mode h6 {
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: .66em 0;
}

#NoteBody.html-mode h1 {
	font-size: 200%;
}

#NoteBody.html-mode h2 {
	font-size: 180%;
}

#NoteBody.html-mode h3 {
	font-size: 160%;
}

#NoteBody.html-mode h4 {
	font-size: 140%;
}

#NoteBody.html-mode h5 {
	font-size: 120%;
}

#NoteBody.html-mode h6 {
	font-size: 200%;
}

#ToolBar {
	flex: 0 0 1em;
	background-color: #fff;
	border: .08em solid #333;
	border-left: none;
	border-right: none;
	padding: .2em 0;
}

#ToolsList {
	list-style-type: none;
	margin: 0;
	padding: 0 .3em;
	text-indent: 0;
}

#ToolsList li, .toolButton {
	display: inline-block;
	margin: 0 .2em;
	padding: .2em;
	box-sizing: border-box;
	height: 1.8em;
	min-width: 1em;
	border: .08em solid rgba(255,255,255,0);
	/*border-radius: .5em;
	background: #ccc;*/
}

#ToolsList li:hover, .toolButton:hover {
	background-color: #9df;
	border-color: #36f;
}

.toolButton.disabled {
	color: #999;
}

.toolButton.disabled:hover {
	background: none;
	border-color: rgba(255,255,255,0);
}

#SaveButton {
	position: relative;
}

#SaveButton {
	color: #0c1;
}

#SaveButton .loader {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding-top: .16em;
	background-color: #fff;
}

#SourceButton .html-mode {
	border-left: .08em solid #000;
	padding-left: .25em;
}

#SourceButton .md-mode {
	padding-right: .25em;
}

#SourceButton i.selected {
	color: #06f;
}

#DeleteButton {
	color: #c00;
}

#ToolBar #DeleteButton:hover {
	background-color: #fcc;
	border-color: #c00;
}

#Footer {
	text-align: center;
	height: 10vh;
	line-height: 10vh;
}

#EditUserModal {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	background-color: rgba(0,0,0,.4);
	margin: 0;
	padding: 0;
}

#EditUserPanel {
	background-color: #fff;
	border: .16em solid #333;
	width: 50%;
	min-width: 10em;
	margin: 3em auto;
	padding: 2em;
}